{{define "header" -}}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Elise</title>
        <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/stylesheets/bootstrap-theme.min.css">
        <style type="text/css">
            .col-img {padding:5px 5px;}
            .col-img .img-cell {padding-bottom:100%; height:0; overflow:hidden; background: rgb(248,229,203);}
        </style>
    </head>
    <body class="container">
        <div id="main" class="list-group">
{{- end}}

{{define "item"}}
            <div class="row">
                <div class="list-group list-group-item panel panel-primary">
                    <div class="list-group-item panel-heading">
                        <div class="row">
                        <a class="panel-title col-xs-11" target="_blank" href="{{.OrigLP}}">{{.Title}}</a>
                        <a class="panel-title col-xs-1" target="_blank" href="{{.LP}}">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                        </div>
                    </div>
                    {{- range .SGSlice}}
                    <div class="list-group-item">
                        <div class="row">
                            {{- range .ImgItems}}
                            <div class="col-xs-3 col-img">
                                <div class="img-cell">
                                    <img style="width:100%;" class="lazy" data-original="{{.Src}}" prim-width="{{.Width}}" prim-height="{{.Height}}" width-height-ratio="{{.Ratio}}">
                                </div>
                            </div>
                            {{- end}}
                        </div>
                    </div>
                    {{- end}}
                </div>
            </div>
{{- end}}

{{define "footer"}}
        </div>
        <script src="/assets/javascripts/jquery.min.js"></script>
        <script src="/assets/javascripts/bootstrap.min.js"></script>
        <script src="/assets/javascripts/lazyload.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(function() {
                $("img.lazy").on("_lazyload_appear", function(){
                    if ($(this).attr("src").indexOf("data:image/png;") >=0) {
                        var oldsrc = $(this).attr("data-original");
                        var newsrc = "/proxy?target=" + oldsrc;
                        $(this).unbind("error").attr("src", newsrc)
                    }
                });
                $("img.lazy").lazyload({
                    effect: "fadeIn"
                });
            });
        </script>
    </body>
</html>
{{- end}}
