{{define "header" -}}
lp	origlp	title	pic
{{- end}}
{{define "item"}}
{{.LP}}	{{.OrigLP}}	{{.Title}}	{{with index .SGSlice 0 "ImgItems"}}{{$length := len .}}{{$last := minus $length 1}}{{range  $i, $v := .}}{{if lt $i $last}}{{.Src}}#_#{{else}}{{.Src}}{{end}}{{end}}{{end}}
{{- end}}
{{define "footer"}}
{{- end}}
